<!DOCTYPE html>
<html th:lang="${#locale}" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->

<div th:fragment="header">
    <header class="fixed-top d-none d-md-block header-nav">
        <nav class="navbar navbar-expand-lg navbar-dark" id="header">
            <div class="container-fluid">
                <div class="collapse navbar-collapse mt-2 mb-2 px-5">
                    <nav id="navbar-locale" class="navbar justify-content-end bg-body-tertiary px-0 mb-0">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="?lang=en">ENG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="?lang=ru">RU</a>
                            </li>
                        </ul>
                    </nav>
                    <ul class="navbar-nav m-auto">
                        <form class="d-flex" role="search">
                            <input aria-label="Search" class="form-control" id="header-search" th:placeholder="#{header.search.title}"
                                   type="search">
                        </form>
                        <li class="nav-item menu-item me-3 ms-4">
                            <a th:text="#{header.button.swagger}" class="btn btn-yellow" href="/doc" target="_blank" type="button">Swagger API</a>
                        </li>
                    </ul>
                    <div th:if="${authUser} == null">
                        <a th:text="#{sidebar.login.full}" class="btn btn-orange" href="/view/login" type="button">Login/Register</a>
                    </div>
                    <th:block th:if="${authUser} != null">
                        <a th:text="#{sidebar.profile}" class="btn btn-orange" href="/ui/profile" type="button"><i
                                class="fa-solid fa-address-card"></i> Profile</a>
                        <form action="/ui/logout" class="mx-2" method="post">
                            <button th:text="#{sidebar.logout}" class="btn btn-yellow btn-orange" type="submit"><i
                                    class="fa-solid fa-sign-out"></i>
                                Logout
                            </button>
                        </form>
                    </th:block>
                </div>
            </div>
        </nav>
    </header>
</div>
</html>