<!DOCTYPE html>
<html th:lang="${#locale}" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{mails.confirm.header}">JiraRush - confirm email</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
    <body>
        <p th:text="#{mails.hi} + ', ' + ${user.firstName} + '.'"/>
        <p th:text="#{mails.message}">Before using JiraRush and complete account setup please confirm your email.</p>
        <a th:href="${confirmationUrl}" th:text="#{mails.confirm.email}">Confirm email</a>
    </body>
</html>