<!DOCTYPE html>
<html th:lang="${#locale}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{mails.password.title}">JiraRush - setup new password</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{mails.hi} + ', '+ ${user.firstName} + '.'"/>
<p th:text="#{mails.message.request}+ ': ' + ${user.email} + '.'"/>
<a th:href="${resetUrl}" th:text="#{mails.password.setup}">Setup password</a>
</body>
</html>